* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body { 
  background: url(img/day2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 8rem;
  font-weight: 400;
  -webkit-text-stroke: 2.5px black;
  letter-spacing: -4px;
  color: white;
}

.container {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
flex-direction: column;
}

.nonEditable{      
  user-select: none;
}

#greeting-container {
  display: inline-flex;
  -webkit-text-stroke: .8px black;
  font-size: 2.7rem;
}

#name {
  display: inline-flex;
  max-width: 500px;
  min-width: 103px;
  overflow: hidden;
  white-space: nowrap;
}

span {
  color: white;
  left: 29%;
  top: 57%;
}

@media only screen and (max-width: 510px) {
  h1 {
    font-size: 6rem;
    -webkit-text-stroke: 2px black;
  }

  #greeting-container {
    font-size: 1.6rem;
    -webkit-text-stroke: 0.5px black;
  }

  #name {
    max-width: 138px;
    min-width: 60px;
  }
}